#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&to 4>;
            key-positions = <56 52>;
            layers = <0>;
        };

        force_sql {
            bindings = <&to 2>;
            key-positions = <62 50>;
            layers = <0>;
        };

        sql_select {
            bindings = <&SQL_SELECT_FROM>;
            key-positions = <28 16>;
            layers = <2>;
        };

        sql_over {
            bindings = <&SQL_OVER>;
            key-positions = <23 43>;
            layers = <2>;
        };

        sql_case_when {
            bindings = <&sql_case_when>;
            key-positions = <42 15>;
            layers = <2>;
        };

        sql_create {
            bindings = <&SQL_CREATE>;
            key-positions = <42 17>;
            layers = <2>;
        };

        sql_insert {
            bindings = <&SQL_INSERT>;
            key-positions = <22 46>;
            layers = <2>;
        };
    };

    macros {
        SQL_SELECT_FROM: SQL_SELECT_FROM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(S) &kp LS(E) &kp LS(L) &kp LS(E) &kp LS(C) &kp LS(T) &kp SPACE &kp STAR &kp SPACE &kp RET &kp LS(F) &kp LS(R) &kp LS(O) &kp LS(M) &kp SPACE &kp T &kp A &kp B &kp L &kp E &kp RET &kp LS(W) &kp LS(H) &kp LS(E) &kp LS(R) &kp LS(E) &kp SPACE>;
            label = "SQL_SELECT_FROM";
        };

        rgb_pulse: rgb_pulse {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 1000>,
                <&rgb_ug RGB_ON>,
                <&macro_wait_time 3000>,
                <&rgb_ug RGB_OFF>;

            label = "RGB_PULSE";
        };

        SQL_CREATE: SQL_CREATE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(C) &kp LS(R) &kp LS(E) &kp LS(A) &kp LS(T) &kp LS(E) &kp SPACE &kp LS(T) &kp LS(A) &kp LS(B) &kp LS(L) &kp LS(E) &kp SPACE &kp LPAR &kp I &kp SPACE &kp LS(I) &kp LS(N) &kp LS(T) &kp RPAR &kp RET &kp LS(U) &kp LS(S) &kp LS(I) &kp LS(N) &kp LS(G) &kp SPACE &kp LS(D) &kp LS(E) &kp LS(L) &kp LS(T) &kp LS(A)>;
            label = "SQL_CREATE";
        };

        SQL_INSERT: SQL_INSERT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(I) &kp LS(N) &kp LS(S) &kp LS(E) &kp LS(R) &kp LS(T) &kp SPACE &kp LS(I) &kp LS(N) &kp LS(T) &kp LS(O) &kp SPACE &kp T &kp SPACE &kp LPAR &kp C &kp RPAR &kp RET &kp LS(V) &kp LS(A) &kp LS(L) &kp LS(U) &kp LS(E) &kp LS(S) &kp SPACE &kp LPAR &kp SQT &kp V &kp SQT &kp RPAR>;
            label = "SQL_INSERT";
        };

        SQL_OVER: SQL_OVER {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(O) &kp LS(V) &kp LS(E) &kp LS(R) &kp SPACE &kp LPAR &kp LS(P) &kp LS(A) &kp LS(R) &kp LS(T) &kp LS(I) &kp LS(T) &kp LS(I) &kp LS(O) &kp LS(N) &kp SPACE &kp LS(B) &kp LS(Y) &kp SPACE &kp LS(O) &kp LS(R) &kp LS(D) &kp LS(E) &kp LS(R) &kp SPACE &kp LS(B) &kp LS(Y) &kp SPACE &kp RPAR>;
            label = "SQL_OVER";
        };

        sql_case_when: sql_case_when {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(C) &kp LS(A) &kp LS(S) &kp LS(E) &kp SPACE &kp RET &kp SPACE &kp LS(W) &kp LS(H) &kp LS(E) &kp LS(N) &kp SPACE &kp C &kp SPACE &kp LS(T) &kp LS(H) &kp LS(E) &kp LS(N) &kp SPACE &kp A &kp SPACE &kp RET &kp LS(E) &kp L &kp S &kp E &kp SPACE &kp B &kp SPACE &kp LS(E) &kp LS(N) &kp LS(D)>;
            label = "SQL_CASE_WHEN";
        };
    };

    on-startup {
        compatible = "zmk,on-startup";
        label = "ZMK_ON_STARTUP";
        bindings = <&rgb_pulse>;
    };

    on-wake {
        compatible = "zmk,on-wake";
        label = "ZMK_ON_WAKE";
        bindings = <&rgb_pulse>;
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp ESC           &kp N1     &kp N2        &kp N3        &kp N4  &kp N5           &kp UP_ARROW     &kp N6     &kp N7           &kp N8     &kp N9   &kp N0     &kp BACKSPACE
&kp TAB           &kp Q      &kp W         &kp E         &kp R   &kp T            &kp DOWN_ARROW   &kp Y      &kp U            &kp I      &kp O    &kp P      &kp BSLH
&kp LEFT_SHIFT    &kp A      &kp S         &kp D         &kp F   &kp G            &kp LEFT_ARROW   &kp H      &kp J            &kp K      &kp L    &kp SEMI   &kp APOS
&kp LEFT_GUI      &kp Z      &kp X         &kp C         &kp V   &kp B            &kp RIGHT_ARROW  &kp N      &kp M            &kp COMMA  &kp DOT  &none      &kp ENTER
&kp K_PLAY_PAUSE  &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &mo 1   &kp BACKSPACE    &kp CLCK         &kp SPACE  &kp RIGHT_SHIFT  &kp ENTER  &mo 2    &kp SLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "LAYER0";
        };

        KEYPAD {
            bindings = <
&kp GRAVE  &kp F1           &kp F2          &kp F3                &kp F4                 &kp F5                  &kp PG_UP      &kp F6         &kp F7          &kp F8        &kp F9        &kp F10        &kp F11
&trans     &kp GRAVE        &mkp LCLK       &kp LS(N9)            &kp LS(N0)             &kp SINGLE_QUOTE        &kp PAGE_DOWN  &kp LS(SLASH)  &kp N7          &kp N8        &kp N9        &kp BACKSPACE  &kp EQUAL
&trans     &kp TILDE        &trans          &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LS(SINGLE_QUOTE)    &kp HOME       &kp MINUS      &kp NUMBER_4    &kp N5        &kp NUMBER_6  &kp PLUS       &kp RIGHT_BRACKET
&trans     &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &rgb_ug RGB_SPI         &kp END        &kp LS(EQUAL)  &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp F12        &kp LG(ENTER)
&to 4      &trans           &trans          &trans                &mo 1                  &trans                  &mkp LCLK      &kp EQUAL      &kp UNDERSCORE  &kp N0        &trans        &trans
            >;

            display-name = "layer1";
            sensor-bindings = <&scroll_encoder>;
        };

        SQL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp UP_ARROW    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp DOWN_ARROW  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp RIGHT       &trans  &trans  &trans  &trans  &trans  &trans
&to 0   &trans  &trans  &trans  &mo 1   &trans    &trans          &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "layer2";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        PYSPARK {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&to 0   &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "layer3";
            sensor-bindings = <&scroll_encoder>;
        };

        SETTINGS {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4       &rgb_ug RGB_BRI  &trans     &trans  &trans  &trans  &trans  &bt BT_CLR_ALL
&trans  &trans        &trans        &trans          &trans        &trans             &rgb_ug RGB_BRD  &trans     &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &bt BT_CLR_ALL  &trans        &trans             &rgb_ug RGB_SAD  &trans     &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &bl BL_SET 100  &bl BL_ON     &rgb_ug RGB_TOG    &rgb_ug RGB_SAI  &trans     &trans  &trans  &trans  &trans  &trans
&to 0   &trans        &trans        &trans          &trans        &trans             &trans           &kp SPACE  &trans  &trans  &trans  &trans
            >;

            display-name = "layer4";
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
