#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&to 4>;
            key-positions = <56 52>;
        };

        sql-select {
            bindings = <&sqlselectfrom>;
            key-positions = <28 16>;
            layers = <2>;
        };
    };

    macros {
        sqlselectfrom: sqlselectfrom {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(S) &kp LS(E) &kp LS(L) &kp LS(E) &kp LS(C) &kp LS(T) &kp SPACE &kp STAR &kp RET &kp LS(F) &kp LS(R) &kp LS(O) &kp LS(M) &kp RET &kp LS(W) &kp LS(H) &kp LS(E) &kp LS(R) &kp LS(E)>;
            label = "SQLSELECTFROM";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp ESC         &kp N1     &kp N2        &kp N3        &kp N4  &kp N5           &kp UP_ARROW     &kp N6     &kp N7           &kp N8     &kp N9   &kp N0     &kp BACKSPACE
&kp TAB         &kp Q      &kp W         &kp E         &kp R   &kp T            &kp DOWN_ARROW   &kp Y      &kp U            &kp I      &kp O    &kp P      &kp BSLH
&kp LEFT_SHIFT  &kp A      &kp S         &kp D         &kp F   &kp G            &kp LEFT_ARROW   &kp H      &kp J            &kp K      &kp L    &kp SEMI   &kp APOS
&kp LEFT_GUI    &kp Z      &kp X         &kp C         &kp V   &kp B            &kp RIGHT_ARROW  &kp N      &kp M            &kp COMMA  &kp DOT  &kp FSLH   &kp ENTER
&kp C_MUTE      &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &mo 1   &kp BACKSPACE    &kp ENTER        &kp SPACE  &kp RIGHT_SHIFT  &kp ENTER  &mo 2    &kp SLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "LAYER0";
        };

        KEYPAD {
            bindings = <
&kp GRAVE  &kp F1           &kp F2          &kp F3                &kp F4                 &kp F5                  &kp PG_UP      &kp F6         &kp F7          &kp F8        &kp F9        &kp F10        &kp F11
&trans     &kp GRAVE        &mkp LCLK       &kp LS(N9)            &kp LS(N0)             &kp SINGLE_QUOTE        &kp PAGE_DOWN  &kp LS(SLASH)  &kp N7          &kp N8        &kp N9        &kp BACKSPACE  &kp EQUAL
&trans     &kp TILDE        &trans          &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LS(SINGLE_QUOTE)    &kp HOME       &kp PLUS       &kp NUMBER_4    &kp N5        &kp NUMBER_6  &kp PLUS       &kp RIGHT_BRACKET
&trans     &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &rgb_ug RGB_SPI         &kp END        &kp MINUS      &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp F12        &trans
&to 4      &trans           &trans          &trans                &trans                 &trans                  &mkp LCLK      &kp EQUAL      &kp UNDERSCORE  &kp N0        &trans        &trans
            >;

            display-name = "layer1";
            sensor-bindings = <&scroll_encoder>;
        };

        SQL {
            bindings = <
&kp TILDE  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &kp F6  &kp F7  &kp F8      &kp F9     &kp F10      &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &trans  &trans  &kp F11     &kp F12    &kp UNDER    &kp PLUS
&trans     &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &trans  &trans  &trans      &trans     &kp LBRC     &kp RBRC
&trans     &sys_reset    &trans          &bootloader   &trans        &trans          &mmv MOVE_RIGHT  &trans  &trans  &sys_reset  &soft_off  &bootloader  &trans
&trans     &trans        &trans          &trans        &trans        &trans          &mkp LCLK        &trans  &trans  &trans      &trans     &trans
            >;

            display-name = "layer2";
            sensor-bindings = <&scroll_encoder>;
        };

        PYSPARK {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "layer3";
            sensor-bindings = <&scroll_encoder>;
        };

        SETTINGS {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bl BL_INC  &trans     &trans  &trans  &trans  &trans  &bt BT_CLR_ALL
&trans  &trans        &trans        &trans        &trans        &trans          &bl BL_DEC  &trans     &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans          &trans      &trans     &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &bl BL_TOG      &trans      &trans     &trans  &trans  &trans  &trans  &trans
&to 1   &trans        &trans        &trans        &trans        &trans          &trans      &kp SPACE  &trans  &trans  &trans  &trans
            >;

            display-name = "layer4";
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
